* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.form-register {
    width: 400px;
    background: rgba(76, 222, 233, 0.4);
    border: 1px solid rgba(11, 78, 73, 0.5);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px rgba(5, 28, 34, 0.589);
}

.form-register:hover {
    border: 1.5px solid rgba(0, 0, 0, 0.8);
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: rgb(2, 1, 1);
    text-decoration: none;
}

.form-register a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    direction: none;
}

.form-register .btn {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-register .btn:hover {
    background: rgb(150, 43, 43, 90%);
}